# https://dart.dev/guides/libraries/private-files
# Flutter/Dart/Pub related
/.dart_tool/*
.flutter-plugins
.flutter-plugins-dependencies

# IntelliJ related
/.idea/*
!/.idea/runConfigurations/
/*.iml

# mason related
/.mason

# Lint log
/custom_lint.log

# https://github.com/felangel/mason/issues/947
# `mason get`すると内容が絶対パスに書き換わるためバージョン管理しない
/mason-lock.json

# firebase
/.firebase
/firebase-debug.log
firebase_options*.dart

/.fvm
kotlin-compiler*.salive

# env
# アプリ公開に伴い機密情報などは除外
ExportOptions.plist
dart_defines/**
.env*
scripts/**
GoogleService-Info.plist
google-services.json
env.*.dart
firebase_options*.dart
firebase_app_id_file.json
*.rules

# FVM Version Cache
.fvm/