name: family_wish_list

environment:
  sdk: ^3.10.0

workspace:
  - apps/app
  - packages/core
  - packages/domain
  - packages/application
  - packages/designsystem
  - packages/dependency_override
  - packages/infra_ui
  - packages/infrastructure/firebase
  - packages/infrastructure/revenue_cat
  - packages/infrastructure/branch
  - packages/infrastructure/mock
  - packages/infrastructure/shared_preferences

dev_dependencies:
  custom_lint: ^0.8.1
  flutter_lints: ^6.0.0
  grinder: ^0.9.5
  melos: ^7.3.0
  nilts: ^0.25.1
  path: ^1.9.0
  pedantic_mono: ^1.12.3
  riverpod_lint: ^3.0.3
  yaml: ^3.1.2
  yaml_edit: ^2.2.1

# dependency_overrides:
#   _fe_analyzer_shared: ^89.0.0
#   analyzer: ^8.4.0
#   build: ^4.0.0

melos:
  command:
    bootstrap:
      environment:
        sdk: ^3.10.1
        flutter: ^3.38.3
      dependencies:
        collection: ^1.19.1
        cross_file: ^0.3.5+1
        envied: ^1.3.1
        flutter_hooks: ^0.21.3+1
        flutter_svg: ^2.2.3
        freezed_annotation: ^3.1.0
        gap: ^3.0.1
        hooks_riverpod: ^3.0.3
        intl: ^0.20.2
        json_annotation: ^4.9.0
        material_design_icons_flutter: ^7.0.7296
        nested: ^1.0.0
        reactive_forms: ^18.2.0
        responsive_framework: ^1.5.1
        riverpod: ^3.0.3
        riverpod_annotation: ^3.0.3
        shimmer: ^3.0.0
        slang: ^4.10.1
        slang_flutter: ^4.10.0
        url_launcher: ^6.3.2
        version: ^3.0.2
      dev_dependencies:
        build_runner: ^2.10.4
        custom_lint: ^0.8.1
        envied_generator: ^1.3.1
        flutter_gen_runner: ^5.12.0
        flutter_lints: ^6.0.0
        freezed: ^3.2.3
        json_serializable: ^6.11.2
        nilts: ^0.25.1
        pedantic_mono: ^1.35.0
        # reactive_forms_generator: ^8.1.0-beta0
        riverpod_generator: ^3.0.3
        riverpod_lint: ^3.0.3
        slang_build_runner: ^4.10.0
    clean:
      hooks:
        post: melos exec --flutter --concurrency=3 -- "flutter clean"

  scripts:

    # ビルド関連
    build:app: 
      description: 各プラットフォーム毎にモバイルアプリをビルドする
      stpes: 
        - build:app:android
        - build:app:ios
    build:app:ios: 
      description: Android向けにモバイルアプリをビルドする
      run: 
        melos exec --scope="flutter_app" -- flutter build ipa
        --export-options-plist=ExportOptions.plist
        --dart-define-from-file=dart_defines/prod.json
    build:app:android: 
      description: iOS向けにモバイルアプリをビルドする
      run: 
        melos exec --scope="flutter_app" -- flutter build
        appbundle --dart-define-from-file=dart_defines/prod.json

    # コード生成関連
    gen: 
      description: build_runner, slangの生成コマンドを実行する
      steps:
        - gen:build
        - gen:slang
    
    gen:build:  
      description: build_runner を使用してコードを生成する
      run: dart run build_runner build -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner
    gen:build:watch:
      description: build_runner watch を使用して、変更箇所を検知しつつコードを生成する。
      run: dart run build_runner watch -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner

    gen:slang:
      description: slang を使用してコードを生成する
      run: dart run slang
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: slang
    gen:slang:watch:
      description: slang watch を使用して、変更箇所を検知しつつコードを生成する。
      run: dart run slang watch
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: slang

    gen:diff:main:
      description: main ブランチと差分のあるパッケージのみ build_runner と i18n の生成コマンドを実行します。
      steps:
        - gen:build:diff:main
        - gen:i18n:diff:main
    gen:build:diff:main:
      description: main ブランチと差分のあるパッケージのみ build_runner を使用してコードを生成します。
      run: dart run build_runner build -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner
        diff: origin/main...HEAD
    gen:slang:diff:main:
      description: main ブランチと差分のあるパッケージのみ slang を使用して国際化ファイルを生成します。
      run: dart run slang
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: slang
        diff: origin/main...HEAD

    # dart fix関連
    fix:
      exec: dart fix --apply lib
      description: Run dart fix.
      packageFilters:
        dirExists: lib
    fix:check:
      exec: dart fix --dry-run lib
      description: Check dart fix.
      packageFilters:
        dirExists: lib
    fix:custom:
      description: すべてのパッケージに custom_lint の fix を実行します。
      exec: dart run custom_lint --fix
      packageFilters:
        dirExists: lib
        dependsOn: custom_lint

    # テスト関連
    test:golden:
      run: flutter test --tags=golden
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: alchemist
        dirExists:
        - test
    test:golden:update:
      run: flutter test --update-goldens
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: alchemist
        dirExists:
        - test
    test:ci: 
      run: flutter test --dart-define=CI=true
      exec:
        failFast: true
      packageFilters:
        dirExists:
        - test

  ide:
    intellij:
      # Disabling IntelliJ's automatic configuration.
      # This is to support different build configurations for environments.
      enabled: false
