name: family_wish_list

environment:
  sdk: ^3.9.0

workspace:
  - apps/app
  - packages/core
  - packages/domain
  - packages/application
  - packages/designsystem
  - packages/dependency_override
  - packages/infrastructure/firebase
  - packages/infrastructure/revenue_cat
  - packages/infrastructure/branch
  - packages/infrastructure/mock
  - packages/infrastructure/shared_preferences

dev_dependencies:
  custom_lint: ^0.7.6
  flutter_lints: ^6.0.0
  grinder: ^0.9.5
  melos: ^7.0.0-dev.7
  nilts: ^0.23.1
  path: ^1.9.0
  pedantic_mono: ^1.12.3
  riverpod_lint: ^2.6.5
  yaml: ^3.1.2
  yaml_edit: ^2.2.1

melos:
  command:
    bootstrap:
      environment:
        sdk: ^3.9.0
        flutter: ^3.35.1
      dependencies:
        collection: ^1.19.1
        cross_file: ^0.3.4+2
        envied: ^1.2.0
        flutter_hooks: ^0.21.3+1
        flutter_svg: ^2.0.13
        freezed_annotation: ^3.1.0
        gap: ^3.0.1
        hooks_riverpod: ^2.6.1
        intl: ^0.20.2
        json_annotation: ^4.9.0
        material_design_icons_flutter: ^7.0.7296
        nested: ^1.0.0
        reactive_forms: ^18.1.1
        responsive_framework: ^1.5.1
        riverpod: ^2.6.1
        riverpod_annotation: ^2.6.1
        shimmer: ^3.0.0
        slang: ^4.8.1
        slang_flutter: ^4.8.0
        url_launcher: ^6.3.2
        uuid: ^4.5.1
        version: ^3.0.2
      dev_dependencies:
        build_runner: ^2.5.4
        custom_lint: ^0.7.6
        envied_generator: ^1.1.1
        flutter_gen_runner: ^5.11.0
        flutter_lints: ^6.0.0
        freezed: ^3.1.0
        json_serializable: ^6.9.5
        nilts: ^0.23.1
        pedantic_mono: ^1.12.3
        reactive_forms_generator: ^8.0.3
        riverpod_generator: ^2.6.5
        riverpod_lint: ^2.6.5
        slang_build_runner: ^4.8.1
    clean:
      hooks:
        post: melos exec --flutter --concurrency=3 -- "flutter clean"

  scripts:
    build_app: melos run build_app_android && melos run build_app_ios
    build_app_dev: melos run build_app_android_dev && melos run build_app_ios_dev

    build_app_ios: melos exec --scope="flutter_app" -- flutter build ipa
      --export-options-plist=ExportOptions.plist
      --dart-define-from-file=dart_defines/prod.json
    build_app_ios_dev: melos exec --scope="flutter_app" -- flutter build ipa
      --export-options-plist=ExportOptions.plist
      --dart-define-from-file=dart_defines/dev.json
    build_app_android: melos exec --scope="flutter_app" -- flutter build
      appbundle --dart-define-from-file=dart_defines/prod.json
    build_app_android_dev: melos exec --scope="flutter_app" -- flutter build
      appbundle --dart-define-from-file=dart_defines/dev.json

    report_test:
      flutter: true
      dependsOn: test

    # ローカルでフォーマットとdart fix --applyを実行する
    format_and_fix:
      exec: bash "$MELOS_ROOT_PATH/scripts/format.sh"

    report_custom_lint:ci:
      exec: bash "$MELOS_ROOT_PATH/scripts/report-custom-lint-ci.sh"
      packageFilters:
        dependsOn: custom_lint

    regenerate_code: melos run regenerate_by_using_build_runner && melos run
      regenerate_by_using_gen_slang

    regenerate_by_using_build_runner:
      run: dart run build_runner build -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner
        
    watch_build_runner:
      run: dart run build_runner watch -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner

    regenerate_by_using_gen_slang:
      run: dart run slang
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: slang

    watch_slang:
      run: dart run slang watch
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: slang

    test_golden:
      run: flutter test --tags=golden
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: alchemist
        dirExists:
        - test

    test_update_golden:
      run: flutter test --update-goldens
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: alchemist
        dirExists:
        - test
    
    test_ci: 
      run: flutter test --dart-define=CI=true
      exec:
        failFast: true
      packageFilters:
        dirExists:
        - test

  ide:
    intellij:
      # Disabling IntelliJ's automatic configuration.
      # This is to support different build configurations for environments.
      enabled: false
