<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303104073024-28061i41k90ceh6735n4iba8k1qcrlin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303104073024-28061i41k90ceh6735n4iba8k1qcrlin</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>303104073024-88jjdv9p5tlccd9a841kdc8ifttuuob2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAr6IlC_hkg2CAdn8WHZ3yoiHvFc0sgzc</string>
	<key>GCM_SENDER_ID</key>
	<string>303104073024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yakuran.familyWishList.dev</string>
	<key>PROJECT_ID</key>
	<string>family-wish-list-ad3c7-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>family-wish-list-ad3c7-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303104073024:ios:92ca732e4b2dc66ece2ea5</string>
</dict>
</plist>