<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911045633649-fifjfbd1ntmmfhi3bkbkeciu5uhs7m77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911045633649-fifjfbd1ntmmfhi3bkbkeciu5uhs7m77</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>911045633649-9dv6inmmpqroc2nt9rjghre7mrpm6bsl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJc99a39iAKaOt39zQAmyCaTDSDz9NRmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>911045633649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yakuran.familyWishList</string>
	<key>PROJECT_ID</key>
	<string>family-wish-list-ad3c7</string>
	<key>STORAGE_BUCKET</key>
	<string>family-wish-list-ad3c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911045633649:ios:648543df6dcff91bb61dd0</string>
</dict>
</plist>