name: Flutter Build
on:
  workflow_dispatch:
    inputs:
      release_type:
        required: true
        type: choice
        description: ビルド対象のプラットフォームを指定します
        options:
          - all
          - android
          - ios
jobs:

  # Android
  flutter_build_android:
    name: Build(Android)
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      # チェックアウト
      - name: Checkout
        uses: actions/checkout@v4

      # セットアップ
      - name: Setup Config Files
        uses: ./.github/actions/setup-config-files
        env: # Set the secret as an input
          DART_DEFINE_JSON: ${{ secrets.DART_DEFINE_JSON }}
          FIREBASE_OPTIONS: ${{ secrets.FIREBASE_OPTIONS }}
          FIREBASE_OPTIONS_DEV: ${{ secrets.FIREBASE_OPTIONS_DEV }}
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
          GOOGLE_INFO_PLIST: ${{ secrets.GOOGLE_INFO_PLIST }}
          ENV_FILE: ${{ secrets.ENV_FILE }}
          DEV_ENV_FILE: ${{ secrets.DEV_ENV_FILE }}
      - name: Setup Application Runtime
        uses: ./.github/actions/setup-application-runtime

      # Key情報の設定
      - name: Create key.jks
        run: echo -n ${{ secrets.ANDROID_KEY_JKS }} | base64 -d > apps/app/android/app/key.jks

      # Secrets から key.properties を生成
      # key.properties には各種シークレットな文字列なり file name なりを渡している
      - name: Create key.properties
        run: |
          echo 'storeFile=./key.jks' > apps/app/android/key.properties
          echo 'storePassword=${{ secrets.ANDROID_STORE_PASSWORD }}' >> apps/app/android/key.properties
          echo 'keyPassword=${{ secrets.ANDROID_KEY_PASSWORD }}' >> apps/app/android/key.properties
          echo 'keyAlias=${{ secrets.ANDROID_KEY_ALIAS }}' >> apps/app/android/key.properties

      # ビルド
      - run: melos run regenerate_code
      - run: build_app_android


  # iOS
  flutter_build_ios:
    if: ${{ false }}
    name: Build(iOS)
    runs-on: macos-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      # セットアップ
      - name: Setup Config Files
        uses: ./.github/actions/setup-config-files
        env: # Set the secret as an input
          DART_DEFINE_JSON: ${{ secrets.DART_DEFINE_JSON }}
          FIREBASE_OPTIONS: ${{ secrets.FIREBASE_OPTIONS }}
          FIREBASE_OPTIONS_DEV: ${{ secrets.FIREBASE_OPTIONS_DEV }}
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
          GOOGLE_INFO_PLIST: ${{ secrets.GOOGLE_INFO_PLIST }}
          ENV_FILE: ${{ secrets.ENV_FILE }}
          DEV_ENV_FILE: ${{ secrets.DEV_ENV_FILE }}
      - name: Setup Application Runtime
        uses: ./.github/actions/setup-application-runtime
        
      - name: Create ExportOptions
        run: |
          echo -n ${{ secrets.EXPORT_OPTIONS }} | base64 -d > ExportOptions.plist

      # プロビジョニングファイルの取り込み
      - name: Import Provisioning Profile
        run: |
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          touch ~/Library/MobileDevice/Provisioning\ Profiles/decoded.mobileprovision
          echo -n '${{ secrets.PROVISIONING_PROFILE }}' | base64 -d -o ~/Library/MobileDevice/Provisioning\ Profiles/decoded.mobileprovision

      # 証明書の取り込み
      - name: Import Code-Signing Certificates
        uses: Apple-Actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
          p12-password: ${{ secrets.CERTIFICATE_PASSWORD }}

      # Build + Upload
      - name: Build for iOS
        run: |
          flutter pub get
          flutter pub run build_runner build --delete-conflicting-outputs
          flutter build ipa --export-options-plist=ExportOptions.plist --dart-define-from-file=dart_defines/prod.json
